/*background-color:#e6e6e6;
background-image: linear-gradient(bottom left, #e6e6e6, #ffffff 56.0%)
*/

body {
  background-color: #080808;
}



#innerCover {
  text-align: center;
}

.reportDiv {
  text-align: center;
  margin-top: -2%;
  padding: 2%;
  width: 45%;
  margin-left: 15%;
  color: #F8F8F8;
}

#enterSomeText {
  padding: 2%;
  margin-top: -4.5%;
  margin-left: 31.5%;
  color: #A8A8A8;
}

#dropzone {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 1%;
  border-style: dotted;
  border-color: #808080;
  width: 30%;
  margin-left: 35%;
  text-align: center;
  color:  #B8B8B8;
  font-size: 110%;
}

#textInputArea {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    padding: 2%;
    color: #B8B8B8;
    margin-top: -.5%;

}

#textinput {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;  
  margin-top: .50%;
  margin-left: 1%;
  width: 52.5%;
  line-height: 300%;
  font-size: 100%;
  color: #282828;

}

#cover-heading {
  padding: 3%;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;  
  color: #B8B8B8;
}

#reportDiv {
  /*margin-top: -50%;*/
}


#or {
  margin-top: -.65%;
  padding: .3%;
  text-align: center;
  color: #B8B8B8;
}


#submitButton {
  text-align: center;
  color: #B8B8B8;
}

#submit {
  color: #282828;
}

#lead {
  text-align: center;
  margin-left: 25%;
  margin-top: -3.5%;
  width: 50%;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;  
  color: #B8B8B8;

  font-size: 110%;
  padding: 1%;
}

#submitButton {
  margin-top: -1%;
  color: #707070;
}
